@inject IProductService ProductService
@inject NavigationManager NavigationManager

@if (products != null && products.Products != null)
{
    <div class="produtos d-flex justify-content-center flex-wrap" style="margin: 5px">

        @foreach (var product in products.Products)
        {

            <div>
                <div class="card" style="width: 170px; margin: 5px; height: 350px; display: flex; flex-direction: column; justify-content: space-between;">
                    <img class="card-img" src="@product.PhotoUrl" alt="product-name">

                    <div class="card-body d-flex flex-column justify-content-between">
                        <h4 class="card-title" style="font-size: 0.8rem;">@product.Name</h4>

                        <div class="price text-center text-success">
                            <p class="mt-0 mb-0" style="font-size: 1rem">R$ @product.Price</p>
                        </div>
                    </div>

                    <div class="buy text-center" style="margin-bottom: 5px">
                        <button class="btn" style="background: #5E0B76; color: #fff" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                            <i class="fa-solid fa-cart-shopping"></i> Comprar
                        </button>
                    </div>
                </div>
            </div>

        }

    </div>

    <nav aria-label="Page navigation" class="d-flex justify-content-center" >
        <ul class="pagination">

            @for (int i = 1; i <= products.Pages; i++ )
            {

                var localVariable = i;

                <li class="page-item @(i == products.CurrentPage ? "active" : "")">
                    <a class="page-link" @onclick="() => ChangePage(localVariable)">@i</a>
                </li>
            }
        </ul>
    </nav>

} else
{
    <p>@message</p>
}


